<!DOCTYPE html> <!-- HTML5 Doctype -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" id="madlabs.es">
  <head>
    <title>Madlabs, Soluciones de internet</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="copyright" content="Copyright (c) 2011 MADLABS, Soluciones de internet. Todos los derechos reservados.">
    <meta name="author" content="Julio Alonso">
    


	<!-- We load the stylesheets-->
	<%= render 'layouts/stylesheets' %> 
	
	<!-- We load the javascript files -->
	
	<%= render 'layouts/javascripts' %> 
	

    <!-- Just to give MSIE a minimum HTML5 support -->
    <!--[if IE]>
      <script>
        document.createElement('header');
        document.createElement('footer');
        document.createElement('section');
        document.createElement('aside');
        document.createElement('nav');
        document.createElement('article');
      </script>
    <![endif]-->

<%= render 'layouts/analytics' %> 

  </head>
  
  <body>
  
  
    <div class="container" id="container" showgrid>
          
		  <div class="span-24">
              <header>
			        <p><a title="MadLabs Soluciones Internet Inicio" 
			        href="http://www.madlabs.es/">MadLabs</a>
			       </p>
     			 </header>
          </div>
		  
         
          <div class="span-20">
             <article>
					        <h1><strong>Julio ALonso</strong> <small>(<em>Conference</em>)</small>:</h1>
					        <p>I will talk about everything you ever wanted to know. <small><a 
					        href="http://www.madlabs.es/">more</a></small></p>
					  
					        <h2>Speakers</h2>
					  
					        <section>
					          <img title="Photograph by None" src="http://www.logomaker.com/logo-images/7d12b7d5ce6a6ca9.gif" alt="None">
					          <h3><a href="http://www.madlabs.es/">MadLabs</a> - <em>9.25am</em></h3>
					          <p>Justo semper Ut non aeonian torture parturient: 
					          <em>Consecrate justo Parking he aran groovy Vestibulum</em>.</p>
					          <div>
					            <p>Wac cursus cursus eric due venenating. Quis maoris adipsia allogamy crepitus alarums.
					            Vestibulum id montes aeonian uric cursus veil spine. Auctor veal aliquot phratry eat ye.
					            Nub tincture aeonian quis mousy id.</p>
					            <p>Wac cursus cursus eric due venenating. Quis maoris adipsia allogamy crepitus alarums.
					            Vestibulum id montes aeonian uric cursus veil spine. Auctor veal aliquot phratry eat ye.
					            Nub tincture aeonian quis mousy id.</p>
					            <p>Wac cursus cursus eric due venenating. Quis maoris adipsia allogamy crepitus alarums.
					            Vestibulum id montes aeonian uric cursus veil spine. Auctor veal aliquot phratry eat ye.
					            Nub tincture aeonian quis mousy id.</p>
					          </div>
					          <p><a href="http://www.madlabs.es/"><span>More</span> about MadLabs</a></p>
					          <p><a href="http://www.madlabs.es/">MadLabs's talk</a></p>
					          <p><a href="http://www.madlabs.es/">MadLabs's slides</a></p>
					        </section>
					  
					        <section>
					          <img title="Photograph by None" src="http://www.bootcrm.com/img/no-image.png" alt="None">
					          <h3><a href="http://www.madlabs.es/">MadLabs</a> - <em>10.25am</em></h3>
					          <p>Justo semper Ut non aeonian torture parturient: 
					          <em>Consecrate justo Parking he aran groovy Vestibulum</em>.</p>
					          <div>
					            <p>Wac cursus cursus eric due venenating. Quis maoris adipsia allogamy crepitus alarums.
					            Vestibulum id montes aeonian uric cursus veil spine. Auctor veal aliquot phratry eat ye.
					            Nub tincture aeonian quis mousy id.</p>
					            <p>Wac cursus cursus eric due venenating. Quis maoris adipsia allogamy crepitus alarums.
					            Vestibulum id montes aeonian uric cursus veil spine. Auctor veal aliquot phratry eat ye.
					            Nub tincture aeonian quis mousy id.</p>
					            <p>Wac cursus cursus eric due venenating. Quis maoris adipsia allogamy crepitus alarums.
					            Vestibulum id montes aeonian uric cursus veil spine. Auctor veal aliquot phratry eat ye.
					            Nub tincture aeonian quis mousy id.</p>
					          </div>
					          <p><a href="http://www.madlabs.es/"><span>More</span> about MadLabs</a></p>
					          <p><a href="http://www.madlabs.es/">MadLabs's talk</a></p>
					          <p><a href="http://www.madlabs.es/">MadLabs's slides</a></p>
					        </section>
					  
					      </article>
          </div> <!-- del main content-->
          <div class="span-4 last">
			      <aside>
			        <section>
			          <h3>Twitter Feed</h3>
			          <p>Nub <a href="http://twitter.com/marcric">@madlabs</a> at
			          <a href="http://twitter.com/marcric">@madlabs</a> cursus 
			          <a href="http://twitter.com/marcric">@madlabs</a>, fames 
			          <a href="http://twitter.com/marcric">@madlabs</a>, pede 
			          <a href="http://twitter.com/marcric">@madlabs</a> &amp; ante 
			          <a href="http://twitter.com/marcric">@madlabs</a> ultrafiche
			          <a href="http://twitter.com/marcric">@madlabs</a> Parking
			          <a href="http://twitter.com/marcric">@madlabs</a> on 
			          Twitter</p>
			        </section>
			  
			        <section>
			            <h3>Partners</h3>
			            <a href="http://www.madlabs.es/"><img alt="none" 
			            src="http://www.bootcrm.com/img/no-image.png"></a>
			            <a href="http://www.madlabs.es/"><img alt="none" 
			            src="http://www.bootcrm.com/img/no-image.png"></a>          
			            <a href="http://www.madlabs.es/"><img alt="none" 
			            src="http://www.bootcrm.com/img/no-image.png"></a>
			            <a href="http://www.madlabs.es/"><img alt="none" 
			            src="http://www.bootcrm.com/img/no-image.png"></a>
			            <p>Could you be a sponsor for MadLabs's Conference? 
			            <a href="http://www.madlabs.es/"><br>Get in touch</a> 
			            Yes You Can!</p>
			        </section>
			  
			        <section>
			          <h3>Where</h3>
			          <p><span class="location">Yuppy Palace of conferences, <br>
			          Virtual Community Circus, Brownout Park, A1L Z4G</span>.</p>
			          <h3>When</h3>
			          <p><time datetime="2010-10-10T09:25">
			          <abbr title="2010-10-10T09:25Z">09:25am</abbr> - 
			          <abbr title="2010-10-10T11:25Z">11:25am</abbr> 10<sup>th</sup> October, 2010</time></p>
			          <h3>Tags</h3>
			          <p>The event tag will be:  
			          <a href="http://www.madlabs.es/">#marcricsconference</a></p>
			          <h3>Contact</h3>
			          <p>Conference organizers <a href="http://www.madlabs.es/">MadLabs</a></p>
			          <p>All enquiries: <a href="http://www.madlabs.es/">email</a></p>
			        </section>
			
			        <section>
			          <h3>How to get there</h3>
			          <a href="http://www.madlabs.es/"><img alt="none" 
			          src="http://www.bootcrm.com/img/no-image.png"></a>
			        </section>
			  
			      </aside>

          </div> <!-- Del side bar-->
		  
		  <!-- footer-->
		   <div class="span-24 ">
               <footer>
				        <p><a href="http://www.madlabs.es/"><img src="http://www.bootcrm.com/img/no-image.png" 
				        alt="none"></a> MadLabs's one day Conference organized by 
				        <a href="http://www.madlabs.es/">MadLabs</a> |
				        <a href="http://www.madlabs.es/">Terms &amp; Conditions</a>
						</p>
     			</footer>
          </div>
		  
		  
      </div> <!-- Del container-->
      
      
     
    
  
  </body>
</html>


